

body{
  font-family:Arial, Helvetica, sans-serif;
}

.btn-1{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 44, 157);
    color: #fff;
    border-radius: 30px;
    border-style: none;
    margin: 20px;
    font-weight: 700;
}
.btn-2{
  width: 200px;
  height: 200px;
  background-color: rgb(139, 102, 0);
  color: #fff;
  border-radius: 30px;
  border-style: none;
  margin: 20px;
  font-weight: 700;
}
.btn-3{
  width: 200px;
  height: 200px;
  background-color: rgb(255, 127, 7);
  color: #fff;
  border-radius: 30px;
  border-style: none;
  margin: 20px;
  font-weight: 700;
}
.btn-4{
  width: 200px;
  height: 200px;
  background-color: rgb(96, 196, 69);
  color: #fff;
  border-radius: 30px;
  border-style: none;
  margin: 20px;
  font-weight: 700;
}
.btn-5{
  width: 200px;
  height: 200px;
  background-color: rgb(69, 188, 196);
  color: #fff;
  border-radius: 30px;
  border-style: none;
  margin: 20px;
  font-weight: 700;
}
button:hover{
    background-color: rgb(234, 246, 255);
}
@media (max-width: 576px) {
  .btn-1,
  .btn-2,
  .btn-3,
  .btn-4,
  .btn-5 {
      width: 130px;
      height: 130px;
      border-radius: 10px;
      font-size: 10pt;
      align-items: center;
      text-align: center;
  }
  img {
    width: 20%;
  }
}
  
@media (min-width: 768px) {
  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #f8f9fa; /* Color de fondo del footer */
      text-align: center;
      padding: 10px 0; /* Espaciado interior del footer */
  }
}